{% extends 'base.html.twig' %}

{% block title %}Sign up{% endblock %}


{% block body %}
    <h1>Register form</h1>
    {{ include('partials/flash.html.twig') }}
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.telephone) }} {# Render telephone field here #}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}