<div class="container mx-2">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('app_home') }}">ECOMMERCE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_product_index') }}">PRODUCT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_categorie_index') }}">CATEGORIE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_order_index') }}">ORDER</a>
        </li>
        {% endif %}

        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_register') }}">Sign Up</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_contact') }}">CONTACT US</a>
        </li>
        {% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {% if not is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('order_history') }}">mes achats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_contact') }}">CONTACT US</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a onclick="return confirm('Are you sure that you want to logout')" class="nav-link" href="{{ path('app_logout') }}">Log Out</a>
            </li>
        {% endif %}


        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            v
          </a>

          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
    </div>
  </nav>
</div>
